@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500&display=swap');

.mainPatDiv {
    height: 100vh;
    display: flex;
}

.left {
    flex: 1;
    padding: 1rem;
}

.right {
    flex: 1;
    padding: 1rem;
}
  
.outerPatBox {
    height: 100vh;
    display: grid;
}

.innerPatBox {
    margin : auto;
    height: 75%;
    width: 60%;
    background: #fff;
    display: grid;
}

.formPatBox {
    background: #e9e9e9;
    box-shadow: 0 10px 15px 0 rgba(0,0,0,0.20), 0 10px 20px 0 rgba(0,0,0,0.20);
    margin: auto;
    width: 100%;
    height: 80%;
}

.patNameInput, .patMobileInput, .patEmailInput, .patGenderInput, .patAgeInput {
    border-top : 0;
    border-left : 0;
    border-right : 0;
    border-radius: 0;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #000;
    margin-bottom: 1%;
    margin-left: 15%;
    margin-top: 5%;
}

.patMobileInput:focus, .patNameInput:focus, .patEmailInput:focus, .patAgeInput:focus, .patGenderInput:focus {
    border-color: #111;
    background-color: transparent;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #000;   
}

.patCreate {
    padding: .5rem 2.5rem;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    background: #111;
    font-family: 'Montserrat', sans-serif;
    border-top: #fff;
    border-left: #fff;
    border-right: #fff;
    border-bottom: #fff;
    background-color: #18C763;
    border-radius: 25px;
    height: 40px;
    width: 70%;
    outline: none;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.20), 0 17px 30px 0 rgba(0,0,0,0.19);
    margin-left: 13%;
    margin-top: 6%;
}

.patCreate:focus, .patCreate:hover {
    width: 50%;
    margin-left: 20%;
    box-shadow: 0 12px 16px 0;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
}

.outerScan {
    height: 100vh;
    display: grid;
}

.innerScan {
    margin : auto;   
    height: 75%;
    width: 80%;
    background: #fff;
    display: grid;
}

.wrapScan {
    margin: auto;
    display: grid;

}

.patCardWrapper {
    margin : auto;   
    height: 480px;
    width: 75%;
    background: #fff;
    display: grid;
}

.cardDetails {
    background: #e9e9e9;
    box-shadow: 0 10px 15px 0 rgba(0,0,0,0.20), 0 10px 20px 0 rgba(0,0,0,0.20);
    margin: auto;
    width: 340px;
    height: 380px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.scanButton {
    padding: .5rem 2.5rem;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    background: #111;
    font-family: 'Montserrat', sans-serif;
    border-top: #fff;
    border-left: #fff;
    border-right: #fff;
    border-bottom: #fff;
    background-color: #18C763;
    border-radius: 25px;
    height: 50px;
    width: 100%;
    outline: none;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.20), 0 17px 30px 0 rgba(0,0,0,0.19);
}

.scanButton:focus, .scanButton:hover {
    box-shadow: 0 12px 16px 0;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;   
}

.createPatientTitle {
    text-align: center;
    font-size: 18px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    padding-top: 10px;
}

.patDetailsText {
    text-align: center;
    font-size: 18px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    padding-top: 10px;
}

.patName {
    text-align: center;
    font-size: 35px;
    color: #000000;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    margin-top: 75px;
}

.patEmail {
    text-align: center;
    font-size: 15px;
    color: #000000;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
}

.patMobile {
    text-align: center;
    font-size: 15px;
    color: #000000;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
}

.anotherScanButton {
    padding: .5rem 2.5rem;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    background: #111;
    font-family: 'Montserrat', sans-serif;
    border-top: #fff;
    border-left: #fff;
    border-right: #fff;
    border-bottom: #fff;
    background-color: #18C763;
    border-radius: 25px;
    height: 50px;
    width: 60%;
    outline: none;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.20), 0 17px 30px 0 rgba(0,0,0,0.19);
    margin-left: 20%;
    margin-top: 23%;
}

.anotherScanButton:focus, .anotherScanButton:hover {
    box-shadow: 0 12px 16px 0;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;   
    margin-top: 23%;
    margin-left: 20%;
}