@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500&display=swap');

.loginBg {
    background: #3494E6;
    background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);
    background: linear-gradient(to right, #EC6EAD, #3494E6);
    height: 100vh;
    display: grid;
    
}

.logo {
    position: absolute;
    height: 10%;
    margin-left: 3%;
    margin-top: 2%;
    border-radius: 5px;
}

.loginForm {
    height: 75%;
    width: 60%;
    background: #fff;
    margin: auto;
    display: grid;
    border-radius: 25px;
}

.formDetails {
    margin: auto;
    width: 100%;
}

.floatingLeft {
    float: left;
    margin-top: 5%;
}

.floatingRight {
    margin-right: 10%;
    margin-top: -40%;
    float: right;
}

.adminLoginText {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 10%;
}

.username, .password {
    border-radius: 25px;
    border-top: #fff;
    border-left: #fff;
    margin-bottom: 10px;
    height: 40px;
    width: 250px;
    background-color: #E6E6E6;
    text-align: center;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.loginButton {
    border-top: #fff;
    border-left: #fff;
    border-right: #fff;
    border-bottom: #fff;
    margin-top: 20px;
    border-radius: 25px;
    height: 40px;
    width: 99%;
    background-color: #18C763;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.20), 0 17px 30px 0 rgba(0,0,0,0.19);
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
}

.loginButton:hover {
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 12px 16px 0;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
}   

.username, .password, .loginButton {
    border-color: #fff;
}
