@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500&display=swap');


.itemList {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    margin: auto;
    text-align: center;
    width: 250px;
    height: 250px;
    padding: 3%;
  }

.docIcon {
    float: left;
    height: 50px;
    width: 50px;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.15), 0 10px 15px 0 rgba(0,0,0,0.10);
    border-radius: 25px;
  }
.docName {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 600;
    text-align: end;
}
.docEmail {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 200;
    text-align: end;
    padding-bottom: 5%;
    border-bottom: 0.5px solid grey;
}
.docPhone {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 200;
    text-align: end;
}

.bookAppointment {
    background-color: #DB3D44;
    color: white;
    border-top: #fff;
    border-left: #fff;
    border-right: #fff;
    border-bottom: #fff;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    width: 180px;
    height: 40px;
    margin: 5%;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.05), 0 10px 15px 0 rgba(0,0,0,0.10);
    outline: none;
}

.viewAppointment {
    background-color: #DB3D44;
    color: white;
    border-top: #fff;
    border-left: #fff;
    border-right: #fff;
    border-bottom: #fff;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    width: 180px;
    height: 40px;
    margin-top: 2%;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.05), 0 10px 15px 0 rgba(0,0,0,0.10);
    outline: none;
}

.viewAppointment:hover, .bookAppointment:hover {
    background-color: #DB3D44;
    color: white;
    border-top: #fff;
    border-left: #fff;
    border-right: #fff;
    border-bottom: #fff;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    width: 180px;
    height: 40px;
    box-shadow: 0 12px 16px 0;
    outline: none;
}
